/* General style */
/* Container Section */
/* Header */
/* Intro */
/* About */
/* Expertise */
/* Portfolio */
/* Clients */
/* Contact */
/* Footer */
/* Media Queries */


/* General Style */
body{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.overflow-fix{
    overflow: hidden;
}
.image-section{
    display: block;
    width: 100%;
    box-shadow: 0px 0px 35px rgb(88, 88, 88);
}
a{
    text-decoration: none;
}
h5{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
}
h1{
    font-size: 50px;
    margin: 20px 0px;
}
p{
    font-size: 14px;
    color: rgb(156, 156, 156);
    line-height: 1.5;
}
.button-primary{
    background-color: #3038D1;
    color: white;
    padding: 10px;
    margin: 25px 0px;
    border-radius: 20px;
    width: 130px;
    display: block;
    font-size: 14px;
    text-align: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover{
        background-color: #3e46e6;
        box-shadow: 0px 0px 4px #8287f8;
    }
}
.button-white{
    background-color: #ffffff;
    color: #3038D1;
    padding: 10px;
    margin: 25px 0px;
    border-radius: 20px;
    width: 120px;
    display: block;
    font-size: 14px;
    text-align: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover{
        box-shadow: 0px 0px 4px #ffffff;
    }
}

/* Container Section */

.container{
    max-width: 1000px;
    margin: 0px auto;
    padding: 20px;

    /* HEADER */
    header{
        position: relative;
        user-select: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header-flex{
            display: flex;
            align-items: center;
            
            .logo{
                width: 50px;
                margin-right: 40px;
                
                img{
                    width: 100%;
                }
            }
    
            .nav{

                a{
                    display: inline-block;
                    margin: 15px;
                    color: black;
                    border-bottom: 1px solid transparent;
                    font-size: 15px;
                    font-weight: 500;
                    transition: 0.2s ease-in-out;

                    &:hover{
                        color: #3038D1;
                        border-color: #3038D1;
                    }
                }
            }
        }
        .social{
            padding: 10px;
            background-color: #3038D1;
            border-radius: 30px;

            a{
                display: inline-block;
                color: white;
                font-size: 18px;
                margin: 0px 15px;
                width: 40px;
                height: 40px;
                text-align: center;
                padding-top: 9px;
                border-radius: 50%;
                border: 1px solid white;
                background-color: #3038D1;
                transition: 0.2s ease-in-out;
                
                &:hover{
                    transform: scale(1.1);
                    box-shadow: 0px 0px 3px white;
                }
            }
        }
    }

    /* INTRO */
    .intro{
        max-width: 800px;
        margin: 100px auto 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-image{
            height: 350px;
            border-radius: 50%;
            margin: 50px auto;
        }

        &-flex{
            flex-basis: 350px;
        }
    }

    /* ABOUT */
    .about{
        position: relative;
        max-width: 900px;
        margin: 150px auto 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #about-education-text{
            display: none;
        }

        &-image{
            border-radius: 30px;
        }

        &-flex{
            flex-basis: 380px;
        }

        &-toggle-section{
            user-select: none;

            .toggle-btn{
                display: inline-block;
                margin: 10px 15px 15px 0px;
                cursor: pointer;
                position: relative;
                font-weight: 400;
                
                &::after {
                    content: '';
                    border-bottom: 1px solid #3038D1;
                    width: 0;
                    position: absolute;
                    left: -7px;
                    bottom: -3px;
                    -webkit-transition: 0.4s ease-in-out;
                    transition: 0.4s ease-in-out;
                }

                &:nth-child(1):hover::after{
                    width: 150%;
                }
                &:nth-child(2):hover::after{
                    width: 120%;
                }
            }
        }

        p{
            display: none;
        }

        .about-active{
            display: block !important;
        }
    }

    /* EXPERTISE */
    .expertise{
        max-width: 950px;
        margin: 150px auto 0px auto;
        text-align: center;

        &-inner{
            max-width: 270px;
            margin: 0 auto 50px auto;
        }

        &-cardlist{
            height: 330px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        
            .card{
                flex-basis: 220px;
                margin: 15px;
                padding: 40px 20px 20px 20px;
                box-shadow: 0px 0px 10px rgb(209, 209, 209);
                border-radius: 30px;
                transition: 0.2s ease-in-out;

                &:hover{
                    box-shadow: 0px 0px 15px rgb(209, 209, 209);
                    transform: scale(1.01);
                }

                img{
                    display: block;
                    width: 80px;
                    margin: 0 auto;
                }
            }
            
            .card-mid{
                align-self: flex-start;
            }
        }
    }

    /* PORTFOLIO */
    .portfolio{
        margin-top: 100px;

        &-header{
            background-color: #3038D1;
            color: white;
            padding: 100px 50px 50px 180px;

            h1{
                margin-top: 0px;
            }
            p{
                color: white;
                max-width: 300px;
            }
        }

        .toggle-section{
            user-select: none;

            .toggle-btn{
                display: inline-block;
                font-weight: 400;
                margin-top: 20px;
                margin-right: 50px;
                cursor: pointer;
                position: relative;
            
                &::after {
                    content: '';
                    border-bottom: 1px solid #ffffff;
                    width: 0;
                    position: absolute;
                    left: -7px;
                    bottom: -3px;
                    -webkit-transition: 0.4s ease-in-out;
                    transition: 0.4s ease-in-out;
                }

                &:hover::after{
                    width: 120%;
                }

                &:nth-child(3):hover::after{
                    width: 115%;
                }
            }
            
            .button-white{
                display: inline-block;
                margin-left: 50px;
            }
        }

        .projectlist{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            background-color: #3038D1;

            .project{
                flex-basis: 300px;
                flex-grow: 1;
                position: relative;
                transition: 0.2s ease-in-out;
                cursor: pointer;
                
                img{
                    display: block;
                    width: 100%;
                }

                &-description{
                    background-color: #3038D1;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    padding: 9px 30px;
                    transition: 0.2s ease-in-out;
                    color: white;
                    opacity: 0;
                    
                    p,h5{
                        margin: 7px;
                        font-weight: 400;
                    }
                    p{
                        font-size: 11px;
                        color: white;
                    }
                }

                &:hover{
                    transform: scale(1.05);
                    z-index: 1000;
                }
                &:hover .project-description{
                    opacity: 1;
                }
            }
        }
    }

    /* CLIENTS */
    .clients{
        position: relative;
        max-width: 750px;
        margin: 100px auto 0px auto;

        &-inner{
            text-align: center;

            p{
                max-width: 270px;
                margin: 10px auto;
            }
        }

        &-logos{
            margin: 30px auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            img{
                display: block;
                margin: 15px;
                flex-basis: 110px;
                max-width: 110px;
            }
        }

        &-testimonials{
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .clients-flex{
                flex-basis: 250px;

                .client-img{
                    border-radius: 30px;
                    transition: 0.2s ease-in-out;
                }

                &:nth-child(2){
                    flex-basis: 400px;

                    .clients-quote-img{
                        width: 70px;
                        display: block;
                        margin-bottom: 20px;
                    }

                    .client-text{
                        height: 80px;
                        margin-bottom: 20px;
                        color: black;
                    }

                    .client-name{
                        font-weight: 700;
                        margin-bottom: 3px;
                    }

                    .client-job{
                        font-weight: 400;
                        margin: 0px;
                    }

                    .client-toggle-section{
                        margin-top: 30px;
                        user-select: none;
                        
                        .toggle-btn{
                            display: inline-block;
                            height: 4px;
                            width: 35px;
                            margin-right: 4px;
                            background-color: rgb(219, 219, 219);
                            cursor: pointer;
                        }
                        
                        .client-active{
                            background-color: #3038D1;
                        }
                    }
                }
            }
        }
    }

    /* CONTACT */
    .contact{
        position: relative;
        margin: 150px auto 0px auto;
        max-width: 600px;
        padding: 60px 80px;
        border-radius: 30px;
        background-color: white;
        box-shadow: 0px 0px 40px rgb(201, 201, 201);
        
        h5{
            margin: 0px 0px 60px 0px;
            text-align: center;
        }
        
        .form-item{
            display: block;
            width: 100%;
            border: none;
            padding: 8px;
            border-bottom: 1px solid rgb(175, 175, 175);
            margin-bottom: 30px;
            font-size: 14px;
        }

        textarea{
            resize: none;
        }

        .button-primary{
            border: none;
            display: block;
            margin: 0px auto;
        }

    }

    /* FOOTER */
    footer{
        margin: 100px auto 0px auto;
        padding-top: 60px;
        border-top: 1px solid rgb(175, 175, 175);
        
        .footer-links{
            max-width: 300px;
            margin: 0 auto;
            text-align: center;
             
            a{
                display: inline-block;
                margin: 0px 20px;
                color: black;
                border-bottom: 1px solid transparent;
                font-size: 15px;
                font-weight: 500;
                transition: 0.2s ease-in-out;

                &:hover{
                    color: #3038D1;
                    border-color: #3038D1;
                }
            }
        }

        .footer-social{
            max-width: 300px;
            margin: 0 auto;
            text-align: center;

            a{
                display: inline-block;
                margin: 30px 8px;
                color: white;
                background-color: #3038D1;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-align: center;
                font-size: 18px;
                padding-top: 9px;
                transition: 0.2s ease-in-out;
            
                &:hover{
                    transform: scale(1.1);
                }
            }
        }

        p{
            text-align: center;
            font-size: 13px;
            margin-top: 0px;
            margin-bottom: 30px;
        }
    }

    
    /* Rectangle Position */
    .rectangle1{
        position: absolute;
        top: -799px;
        width: 1754px;
        right: -1424px;
        z-index: -1000;
    }

    .rectangle2{
        position: absolute;
        transform: rotate(180deg);
        top: -200px;
        width: 1400px;
        left: -1460px;
        z-index: -1000;
    }

    .rectangle3{
        position: absolute;
        border-radius: 50%;
        top: 350px;
        width: 700px;
        -webkit-transform: rotate(180deg);
        transform: rotate(142deg);
        left: -1011px;
        z-index: -1000;
    }

    .rectangle4{
        position: absolute;
        top: -400px;
        width: 1100px;
        left: 550px;
        z-index: -1000;
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1590px){
    .container{

        .rectangle2{
            left: -1300px;
        }

        .rectangle3{
            left: -800px;
        }
    }
}

@media screen and (max-width: 1000px){
    .container{

        .portfolio{

            &-header{
                padding: 80px 20px 50px 90px;
            }
        }
    }
}

@media screen and (max-width: 880px){
    .container{
        padding: 15px;

        .intro{
            margin-top: 70px;
            justify-content: space-around;
            
            &-image{
                height: 300px;
            }

            &-flex{
                flex-basis: 300px;
            }
        }

        .about{
            margin-top: 100px;
            justify-content: space-around;

            &-flex{
                flex-basis: 300px;
            }
        }

        .expertise{
            margin-top: 100px;

            &-cardlist{
                height: auto;
            }
        }

        .portfolio{

            &-header{
                padding: 50px 50px 30px 50px;
            }

            .toggle-section{

                .toggle-btn{
                    margin-right: 35px;
                }

                .button-white{
                    margin-left: 0px;
                }
            }
        }

        .clients{

            &-testimonials{
                justify-content: space-around;

                .clients-flex{
                    flex-basis: 230px;
                    
                    &:nth-child(2){
                        flex-basis: 350px;
                    }

                    .client-text{
                        height: auto !important;
                    }
                }
            }
        }

        .contact{
            margin-top: 100px;
        }
    }
}


@media screen and (max-width: 750px){
    .container{

        h1{
            font-size: 40px;
        }

        .button-primary{
            margin-left: auto;
            margin-right: auto;
        }

        .rectangle1{
            display: none;
        }

        .rectangle2{
            display: none;
        }

        .rectangle3{
            display: none;
        }

        .rectangle4{
            display: none;
        }

        header{

            .header-flex{
            
                .logo{
                    margin-right: 20px;
                }

                .nav{

                    a{
                        margin: 15px 10px;
                    }
                }
            }

            .social{
                background-color: white;

                a{
                    border: none;
                    width: 35px;
                    height: 35px;
                    font-size: 16px;
                    padding-top: 8px;
                    margin: 0px 5px;
                }
            }
        }

        .intro{
            margin-top: 60px;
            flex-direction: column-reverse;

            &-image{
                height: 300px;
            }
            
            &-flex{
                width: 300px;
                text-align: center;
            }
        }

        .about{
            margin-top: 60px;
            flex-direction: column;

            &-image{
                width: 300px;
                margin-bottom: 50px;
            }

            &-flex{
                text-align: center;

                p{
                    max-width: 500px;
                }
            }
        }

        .portfolio{
            margin-top: 80px;
            
            &-header{
                text-align: center;
                padding: 30px 15px;

                p{
                    margin: 15px auto;
                }
                
                .toggle-section{

                    .toggle-btn{
                        margin: 20px 15px;
                    }
                    
                    .button-white{
                        display: block;
                        margin: 15px auto;
                    }
                }
            }
        }

        .clients{
            margin-top: 80px;

            &-logos{
                justify-content: center;
            }

            &-testimonials{

                .clients-flex{
                    flex-basis: 200px;

                    &:nth-child(2){
                        flex-basis: 300px;
                    }
                }
            }
        }

        .contact{
            h5{
                margin-bottom: 40px;
            }
        }

        footer{
            margin-top: 80px;

            .footer-social{
                
                a{
                    border: none;
                    width: 35px;
                    height: 35px;
                    font-size: 16px;
                    padding-top: 8px;
                    margin: 25px 5px;
                }
            }
        }
    }
}


@media screen and (max-width: 600px){
    .container{

        header{
            flex-direction: column;

            .header-flex{
                flex-direction: column;
            
                .logo{
                    margin-right: 0px;
                }
            }
        }

        .intro{
            margin-top: 30px;
            flex-direction: column-reverse;

            &-image{
                height: 250px;
                width: 250px;
            }
        }

        .about{
            margin-top: 30px;

            &-image{
                width: 250px;
                margin-bottom: 40px;
            }
        }

        .expertise{
            margin-top: 60px;
        }

        .clients{
            margin-top: 60px;

            &-testimonials{
                flex-direction: column;

                .clients-flex{
                    
                    .client-img{
                        width: 200px;
                        margin-bottom: 30px;
                    }

                    &:nth-child(2){
                        
                        .clients-quote-img{
                            margin: 0px auto 20px auto;
                        }

                        .client-text{
                            text-align: center;
                            max-width: 400px;
                        }

                        .client-name{
                            text-align: center;
                        }

                        .client-job{
                            text-align: center;
                        }

                        .client-toggle-section{
                            text-align: center;
                        }
                    }
                }
            }
        }

        .contact{
            margin-top: 50px;
        }

        footer{
            margin-top: 80px;

            .footer-social{
                
                a{
                    border: none;
                    width: 35px;
                    height: 35px;
                    font-size: 16px;
                    padding-top: 8px;
                    margin: 25px 5px;
                }
            }
        }
    }
}